<%= render '/top_eng.html', :title => @item[:item_name] %>

<%= render '/menu_eng.html' %>

   <p><b><font size="+2"><%= yield %></font></b></p>
   <div class="issue_content">
    <div class="issue_item">
    
     <% unless @item[:doi].nil? %>
      <div id= "item_doi" class="item_element"> DOI: 10.17587/prin.<%= @item[:doi] %></div>
     <% end %>


     <%= render '/doi_common.inc' %>
     <% unless @item[:item_keywords].nil? %>
       <div id="item_keywords" class="item_element" >Keywords: <%= item[:item_keywords] %></div>
     <% end %>
     <div id="item_pages" class="item_element" >pp. <%= item[:item_pages] %></div>

     <% unless @item[:item_citation].nil? %>
      <div class="item_element" id="item_citation"><i>For citation: <br><%= @item[:item_citation] %></i></div>
     <% end %>
     <% unless @item[:item_references].nil? %>
      <div class="item_element" id="item_references"><%= @item[:item_references] %></i></div>
     <% end %>
     <% unless @item[:item_comment].nil? %>
      <div class="item_element" id="item_comment"><br><%= @item[:item_comment] %></i></div>
     <% end %>
          
    </div>
   </div>

<%= render '/buttom_eng.html' %>
