<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Journal "Software Engineering" (Programmnaya Ingeneria) | <%= @title %></title>
    <%= render '/top_base.inc' %>

  <link href="common_styles.css" rel="stylesheet" type="text/css"/>
  
 </head>

 <body>

 <div id="top_title">
   <div id="pi_logo"><img src="images/mini_logo.png"/></div>
   <div id="title_main"><p>Journal "Software Engineering" <br/> a journal on theoretical and applied science and technology
<br/>ISSN 2220-3397</p></div>
   <div id="right_space"></div>

 </div>

